* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    font-family: 'Poppins', sans-serif;
    /* font-family: 'VT323', monospace;
    background-color: black;
    color: chartreuse; */
}

.container {
    padding: 25px calc((100vw - 960px) / 2);
}

/* p {
    font-size: 60px;
}

.ball {
    width: 150px;
    height: 150px;
    border-radius: 75px;
    background-color: chartreuse;
}

.ball-wrapper {
    display: flex;
} */

#board {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    overflow: hidden;
}

.card {
    width: 200px;
    height: 200px;
    background-color: rgb(150, 150, 150);
    margin: 15px;
}
